.job-cta-button{
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--accent-color);
    color:#000000;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    font-weight: 600;

}

.job-cta-container{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0 ;
    justify-content: space-between;
}

.job-cta-experience{
    height: 70%;
}

.job-cta-experience h3,h4{
    margin: 5px;
}

.job-cta-experience h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: #8b8b8b;
}

.job-cta-experience h2{
    font-size: 14px;
    line-height: 1.5;
    margin-left: 6px;
    font-weight: 400;
}