body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.filter-select{
    margin: 0 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


.job-listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}